@import "../styles/index.scss";

footer {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-offset);

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: var(--color-text);
    }

    .icons {
      display: flex;

      a {
        display: flex;
        align-items: center;
        padding: 0 0 0 15px ;
        color: var(--color-text);
        & :hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
