@import "../styles/index.scss";

.tabs {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;

  .tabList {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    .tabList-selected {
      padding-top: 3px;
      border-bottom: 4px solid var(--color-primary);
    }

    li {
      padding: 10px 4px;

      a {
        color: var(--color-text);
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

  .tabPanel {
    min-height: 100vh;
    padding: 50px 0 75px;
  }
}
