@import "../styles/index.scss";

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.links.active {
  transform: translateX(0%);
  font-size: 2rem;
  gap: 20px;
}

.links a {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

.links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  background-color: var(--color-primary);
  transition: transform 0.2s ease-out;
}

.links a:hover::before {
  transform: scaleX(1);
}

.menuButton {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  color: var(--one-second-color);
}

.menu-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.menu-close {
  position: relative;
  top: 50%;
  top: 50%;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .links {
    position: initial;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(0%);
  }

  .links.active {
    transform: translateX(0%);
  }

  .links a {
    margin: 0px 20px;
    text-shadow: none;
  }

  .menuButton {
    display: none;
  }
}
