@import "../styles/index.scss";

.theme-container {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
  height: auto;
  z-index: 99;
  padding: 16px 0;

  .menu-container {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .menu-button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;


      .menu-open {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }

      .menu-close {
        position: relative;
        top: 50%;
        top: 50%;
        z-index: 4;
      }
    }
    .menu-themes {
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-bottom: 8px;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  li {
    display: flex;
    align-items: center;
  }

  &.active {
    transform: translateX(0%);
    font-size: 2rem;
    gap: 20px;
  }

  a {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      transform: scaleX(0);
      background-color: var(--color-primary);
      transition: transform 0.2s ease-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

@media screen and (min-width: 768px) {
  .links {
    position: initial;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(0%);
  }

  .links.active {
    transform: translateX(0%);
  }

  .links a {
    margin: 0px 20px;
    text-shadow: none;
  }
  .menu-button {
    display: none;
  }
}
